/* Dans profil.module.css */
/* Style pour les div "Your Owned NFTs" et "Staked NFTs" */

.balanceAndAddress {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.firstContainer {
  flex-grow: 1; /* Faites en sorte que ce conteneur occupe tout l'espace disponible */
  text-align: center;
  margin-top: 30px;
}

.firstContainer h1 {
  color: rgb(188, 121, 21);
  font-size: 50px;
  margin: 0; /* Supprimez la marge par défaut du titre */
}

.secondContainer {
  /* flex-grow: 1; /* Faites en sorte que ce conteneur occupe tout l'espace disponible */
  /* text-align: center; */

  width: 50%; /* Ajustez la largeur selon vos besoins */
  margin: auto; /* Centre la div horizontalement */
  padding: 10px; /* Ajoute un espace intérieur */
  border: 1px solid #ccc;
}

.secondContainer h1 {
  color: rgb(188, 121, 21);
  font-size: 50px;
  margin: 0; /* Supprimez la marge par défaut du titre */
}

/* Appliquer la rotation lorsqu'un élément est survolé */

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Utiliser space-between pour pousser les éléments aux extrémités */
}

.needToPlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.headerAddress,
.headerItemAddress {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alignez le texte au centre verticalement dans chaque colonne */
}

.headerItemAddress h3,
.headerItemAddress p {
  margin: 0; /* Supprimez la marge par défaut pour un espacement propre */
}

.yourCreationNft li,
.yourNFTs li,
.yourResetNft li,
.yourStakedNft li {
  padding: 14px;
  color: antiquewhite;
}
.backHome {
  background-color: #141e30; /* Couleur de fond sombre */
  color: #ffffff; /* Couleur du texte en blanc */
  border: 2px solid #00bfff; /* Bordure bleue */
  border-radius: 10px; /* Coins arrondis */
  padding: 15px 30px; /* Rembourrage pour la taille du bouton */
  font-size: 20px; /* Taille de la police */
  font-weight: bold; /* Texte en gras */
  cursor: pointer;
  text-transform: uppercase; /* Texte en majuscules */
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
  display: block;
}

.backHome:hover {
  background-color: #00bfff; /* Couleur de fond bleue au survol */
  transform: scale(1.05); /* Légère mise à l'échelle au survol */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au survol */
}

/* Add or modify the existing styles for containerInfos, yourNFTs, yourStakedNft, yourResetNft, and yourCreationNft */
.containerInfos {
  display: flex;
  margin-top: 70px;
  flex-wrap: wrap; /* Allow items to wrap to the next line if there's not enough space */
}
.titleMap {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.yourNFTs,
.yourStakedNft,
.yourResetNft,
.yourCreationNft {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 20px;
  margin-bottom: 20px; /* Add margin-bottom to create space between the items */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.container a {
  color: #fbfdfd;
  font-size: medium;
}

.container h3,
.container h2 {
  color: #fbfdfd;
}

.container p {
  color: antiquewhite;
}
/* Styles pour les boutons */

/* Style de bouton vert pour "Stake" */
.red2Button {
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(to top, #107a20 0%, #107a20 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: 0 100%;
  transition: background-position 0.3s;
  padding: 5px 10px;

  cursor: pointer;
  margin-right: 20px;
}

.buttonContainer {
  display: flex;
  flex-direction: column; /* Afficher les boutons en colonne */
  margin-top: 10px; /* Ajustez la marge selon vos préférences */
}
.displayContainer {
  display: flex;
}
.buttonSpacing {
  margin-top: 10px; /* Espace entre les boutons */
}

.red2Button:hover {
  background-position: 0 0;
}
.buttonContainer {
  margin-right: 20px; /* Ajustez la valeur selon vos besoins */
}

/* Styles au survol */
/* Lorsque survolé, l'effet 3D apparaît */

.containerAccess {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 20px; /* Ajoute une marge au besoin */
}

/* Style de bouton rouge pour "Unstake" */
.redButton {
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(to top, #a81419 0%, #a81419 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: 0 100%;
  transition: background-position 0.3s;
  padding: 5px 10px;

  cursor: pointer;
  margin-right: 20px;
}
.redButton:hover {
  background-position: 0 0;
}
.accessButton {
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(to top, #a88314 0%, #a88314 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: 0 100%;
  transition: background-position 0.3s;
  padding: 5px 10px;

  cursor: pointer;
  margin-right: 20px;
}
.accessButton:hover {
  background-position: 0 0;
}
.createGpsButton {
  background-color: #4caf50; /* Couleur de fond pour le bouton */
  color: white; /* Couleur du texte pour le bouton */
  padding: 10px 20px; /* Espacement intérieur du bouton */
  border: none; /* Supprimer la bordure du bouton */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur de la souris en forme de main */
  /* Autres styles CSS personnalisés si nécessaire */
}

/* Style de bouton violet pour "Create GPS" */
.purpleButton {
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(to top, #7f1285 0%, #7f1285 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: 0 100%;
  transition: background-position 0.3s;
  padding: 5px 10px;

  cursor: pointer;
  margin-right: 20px;
}

/* Animation au survol */
.button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 570px) {
  .displayContainer {
    flex-direction: column;
  }
  .containerInfos {
    margin-left: 70px; /* Pour centrer horizontalement */
  }
  /* .yourNFTs,
  .yourStakedNft,
  .yourResetNft,
  .yourCreationNft {
    margin-bottom: 20px;
  } */
}

/* Add or modify the existing styles for containerInfos, yourNFTs, yourStakedNft, yourResetNft, and yourCreationNft */
