/* footer.module.css */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px; /* Ajustez la hauteur selon vos besoins */
  background-color: rgb(86, 9, 95);
}

.footerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Deux colonnes égales */
  gap: 10px; /* Espace entre les colonnes */
}

.footerLinks {
  font-size: 16px;
}

.footer a {
  font-size: 16px;
  margin-right: 10px;
}

.footerText {
  text-align: center;
  margin-top: 20px; /* Ajustez la marge supérieure selon vos besoins */
}

.footerLogo {
  width: 100px; /* ajustez la taille selon vos besoins */
  height: auto; /* permet de conserver les proportions originales */
}