/* ranking.module.css */

/* Styles pour le tableau */

.backHome {
  background-color: #141e30; /* Couleur de fond sombre */
  color: #ffffff; /* Couleur du texte en blanc */
  border: 2px solid #00bfff; /* Bordure bleue */
  border-radius: 10px; /* Coins arrondis */
  padding: 15px 30px; /* Rembourrage pour la taille du bouton */
  font-size: 20px; /* Taille de la police */
  font-weight: bold; /* Texte en gras */
  cursor: pointer;
  text-transform: uppercase; /* Texte en majuscules */
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
  display: block;
}

.backHome:hover {
  background-color: #00bfff; /* Couleur de fond bleue au survol */
  transform: scale(1.05); /* Légère mise à l'échelle au survol */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au survol */
}
.tableContainer {
  overflow: auto;
}
.statsContainer {
  /* Vos styles généraux pour statsContainer */
}

.contract,
.fees,
.totalNft,
.totalStake,
.totalReset,
.minimumStake {
  color: white; /* Couleur du texte pour les libellés */
}

.dynamicValue {
  color: black; /* Couleur du texte pour les valeurs dynamiques */
}
.containerInfos {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer le contenu horizontalement */
  text-align: center; /* Centrer le texte horizontalement */
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Ajout de marge pour une meilleure apparence */
}
.th,
.td {
  color: #ffffff;
}

.thead,
.tbody,
.tr,
.th,
.td {
  border: 1px solid #ddd;
  padding: 8px;
}

.th {
  font-weight: bold;
}

.containerInfos h1 {
  color: rgb(188, 121, 21);
  font-size: 50px;
}
.containerInfos h2 {
  color: #ffffff;
}

.fieldContainer {
  color: blanchedalmond;
}
.statsContainer span {
  color: blanchedalmond;
}
/* En mode responsive */
@media (max-width: 570px) {
  .th {
    display: none; /* Cacher les th en mode responsive */
  }

  .tr {
    margin-bottom: 10px;
    border-color: bisque;
  }

  .td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .td:before {
    content: attr(data-label);
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  /* .dynamicValue {
    font-size: 12px;
  } */
  .statsContainer {
    font-size: 13px;
  }
  .tableContainer {
    font-size: 13px;
  }
}
