/* styles/MetamaskMenu.module.css */
.menu {
    background-color: #0074cc;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .connectButton {
    background-color: #0074cc;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .connectButton:hover {
    background-color: #005bb5;
  }